* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f7f7f7;
}

.container {
    width: 85%;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    
}

h2{
    text-align: center;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

p{
    text-align: center;
    color: #686767;
    font-size: 15px;
    
}

h3{
    
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.search-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

#search-input, #genderselect, #clear-search {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 1rem;
}

#clear-search {
    flex: 0 0 100px;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
}

#results, #bookmarks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

    flex: 1 1 calc(33.333% - 20px); 
    
    display: flex;
    flex-direction: column;
    gap: 6px; 
}



.card div {
    font-size: 16px;
    color: #333;
}

.card button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
}

.card button.save {
    background: #28a745;
    color: white;
}

.card button.remove {
    background: #dc3545;
    color: white;
}

@media(max-width: 1024px){ 
    .card {
        flex: 1 1 calc(50% - 20px); 
    }
}

@media(max-width: 600px){ 
    .card {
        flex: 1 1 100%; 
    }

    .search-area {
        flex-direction: column;
    }

    .card button {
        width: 100%;
    }
}