* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f7f7f7;
}

.container {
    width: 85%;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    
}

h1{
    text-align: center;
    color: #333;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
}

p{
    text-align: center;
    color: #686767;
    font-size: 15px;
    
}


h3{
    margin-top: 2rem;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.search-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
   
}

#search-input, #genderselect {
    flex: 1;                
    min-width: 150px;        
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #b5b4b4;
    
   
}

/* Clear button */
#clear-button {
    flex: 0 0 auto;        
    background: #0360c4;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 15px;    
   
}


/*defaulty message*/
.default-message,
.no-results,
.no-bookmarks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 15px;
    color: #555;
    text-align: center;
    margin: 20px auto;
}

#results, #bookmarks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}



.card {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

    flex: 1 1 calc(33.333% - 20px); 
    
    display: flex;
    flex-direction: column;
    gap: 6px; 
}



.card div {
    font-size: 16px;
    color: #333;
}

.card button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
}

.card button.save {
    background: #28a745;
    color: white;
}

.card button.remove {
    background: #dc3545;
    color: white;
}

@media(max-width: 1024px){ 
    .card {
        flex: 1 1 calc(50% - 20px); 
    }
}

@media(max-width: 600px){ 
    .card {
        flex: 1 1 100%; 
    }

    .search-area {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .card button {
        width: 100%;
    }
}